<%
  # attachment = attribute.split('_file_name').first
  presence_validator = @item.class.validators.select{ |validator| validator.class.to_s == 'ActiveModel::Validations::PresenceValidator' }.first
  if @item.send(attribute).exists? && !(presence_validator && presence_validator.attributes.include?(attribute.to_sym))
    message = _("Remove %{attribute}", :attribute => @item.class.human_attribute_name(attribute).downcase)
    label_text << <<-HTML
 <small>#{link_to message, { :action => 'detach',
                             :id => @item,
                             :attachment => attribute },
                             :confirm => _("Are you sure?")}</small>
    HTML
  end
%>
<li>
  <%= form.label attribute, raw(label_text) %>
  <%= form.file_field attribute, options %>
  <%= typus_preview(@item, attribute) %>
</li>
