<div id="footer">
  <p class="developer">
    <%= _("Developed by") %><br />
    <%= link_to(AppConfig.developer.name, AppConfig.developer.url, :title => AppConfig.developer.name, :target => '_blank') %>
  </p>
</div>