<div id="footer">
  <p class="developer">
    <%= _("Developed by") %><br />
    <%= link_to(Configurator.developer.name, Configurator.developer.url, :title => Configurator.developer.name, :target => '_blank') %>
  </p>
</div>